/* Extra small devices (phones, less than 768px) => Taille xs */
/* Pas de media queries de base pour un bon design il faut partir de la version MOBILE*/


/* --------------------- MENU ----------------------- */
header{
    background: #000;
}
header .nav-menu {
    list-style-type: none;
    font-size: 0;
}
header .nav-menu ul, header .nav-menu li {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    margin: 0;
    padding: 0;
}
header .nav-menu li a {
    padding: 0px 10px;
    color: #f1f1f1;
    font-size: 15px;
    display: block;
}
header .nav-menu li a:hover {
    color: #000000;
    background: #f7fbed;
    text-decoration: none;
}
header .nav-menu-right li a span.glyphicon {
    padding-left: 5px;
}
.nav-menu-right{
    float: right;
}
/*https://www.w3schools.com/howto/howto_js_sidenav.asp*/
/* The side navigation menu */
.sidenav > div{
    min-width: 250px;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* --------------------- FIN MENU ----------------------- */


/* Small devices (tablets, 768px and up) => Taille sm */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) => Taille md */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) => Taille lg*/
@media (min-width: 1200px) {  }