/* Extra small devices (phones, less than 768px) => Taille xs */
/* Pas de media queries de base pour un bon design il faut partir de la version MOBILE*/

body{
    min-width: 320px;
}

/* --------------------- MENU ----------------------- */
header{
    background: #000;
}
header .nav-menu {
    list-style-type: none;
    font-size: 0;
}
header .nav-menu ul, header .nav-menu li {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    margin: 0;
    padding: 0;
    position: relative
}

header .nav-menu ul li > ul {
    display: none;
}
header .nav-menu ul li:hover > ul {
    display: block;
    position: absolute;
    background: #f7fbed;
    height: auto;
    width: 160px;
    text-align: right;
    right: 0;
    border-bottom: 1px solid #464646;
    border-left: 1px solid #464646;
    border-right: 1px solid #464646;
}
header .nav-menu ul li > ul li a {
    color: #464646;
}
header .nav-menu li a {
    padding: 0px 10px;
    color: #f1f1f1;
    font-size: 15px;
    display: block;
}
header .nav-menu li a:hover {
    color: #000000;
    background: #f7fbed;
    text-decoration: none;
}
header .nav-menu-right li a span.glyphicon {
    padding-left: 5px;
}
.nav-menu-right{
    float: right;
}
/*https://www.w3schools.com/howto/howto_js_sidenav.asp*/
/* The side navigation menu */
.sidenav > div{
    min-width: 250px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #FFFFFF;
}

.sidenav a .glyphicon{
    padding-right: 8px;
}

.sidenav > div a.logout { 
    position: absolute;
    bottom: 25px;
    width: 250px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* --------------------- FIN MENU ----------------------- */

/* --------------------- PROFIL ------------------------- */
#profil > h1 {margin: 40px 0 0 0;text-align: center;}
#profil .back-btn-container {
    text-align: right;
    margin: 10px;
    margin-bottom: -38px;
}
#profil .profile-btn, #profil input[type="submit"] {
    display: inline-block;
    background: moccasin;
    height: 38px;
    line-height: 38px;
    min-width: 110px;
    padding: 0 15px;
    border: 1px dotted #e49981;
    font-weight: bold;
    color: #464646;
    vertical-align: top;
    text-align: center;
}
#profil .profile-btn:hover, #profil input[type="submit"]:hover {
    text-decoration: underline;
}
#profil .login{
    max-width: 350px;
}
#profil .login, #profil .register {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
}
#profil .confirmed{
    text-align: center;
    margin-top: 40px;
}
#profil .profile {
    text-align: center;
    border: 1px dashed lightgray;
    padding: 30px 0;
    margin: 25px auto 0 auto;
    max-width: 500px;
}
#profil .profile > span {
    display: block;
    margin: 5px 0;
}
#profil .login .login-error{
    text-align: center;
    color: red;
}
#profil form > div ul, #profil form > div li{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    color: red;
}
#profil form > div {
    width: 237px;
    margin: 10px auto;
    text-align: center;
}
#profil .login form label[for="remember_me"]{
    display: inline;
}
#profil form label {
    display: block;
    text-align: left;
}
#profil form input[type="text"], #profil form input[type="password"], #profil form input[type="email"]{
    width: 235px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    padding-left: 10px;
}


/* --------------------- FIN PROFIL ------------------------- */

/* Small devices (tablets, 768px and up) => Taille sm */
@media (min-width: 768px) { 
    #profil .login {
        padding: 25px;
    }
    #profil .register {
        width: 750px;
    }
 }

/* Medium devices (desktops, 992px and up) => Taille md */
@media (min-width: 992px) { 

 }

/* Large devices (large desktops, 1200px and up) => Taille lg*/
@media (min-width: 1200px) { 

 }